@page "/business/{id}"
@using client.DTO
@using client.DTO.Business
@using Microsoft.AspNetCore.Authorization
@inject IBusinessService BusinessService
@attribute [Authorize]

<div class="container">

    
    
    @if (_business?.Address != null)
    {
       



        <div class="display-container">
            <img src="@_business.LogoPath" alt="business-logo" class="business-logo">
            <div class="business-contact">
                <h3 class="BusinessName">@_business.BusinessName</h3>
                <p>@_business.PhoneNumber</p>
                <p>@_business.Email</p>
                <p>@_business.Cvr</p>
            </div>
        </div>
        


        <div class="location">
            <div class="location-content">
                <div class="location-row">
                    <img src="images/icons/location.png" alt="location-icon" class="location-icon"/>
                    <p class="location-text">
                        @_business.Address.County @_business.Address.Number,
                        @_business.Address.PostalCode,
                        @_business.Address.City
                    </p>
                </div>
            </div>
        </div>
    }

    @* TODO: Add OFFERS of the business and RATINGS on the business *@

</div>

@code {
    [Parameter] public string id { get; set; }

    private BusinessResponseDto? _business = new BusinessResponseDto()
    {
        Id = "655013611b06c568a91d7542",
        Email = "sample@mail",
        PhoneNumber = "+45545645646",
        Cvr = "654566546",
        LogoPath = "images/brand_logo.jpeg",
        Address = new AddressDto()
        {
            City = "Horsens",
            County = "Velavej",
            Country = "Denmark",
            Number = "447",
            PostalCode = "8700",
            State = "Denmark"
        },
        BusinessName = "Seven Eleven",
        
    };
    
    protected override async Task OnInitializedAsync()
    {
        _business = await BusinessService.GetBusinessByIdAsync(id);
    }
}