@page "/business/{id}"
@using client.DTO.Business
@inject IBusinessService BusinessService
<h3>Business</h3>

<div class="container">
    


    @if (_business?.Address != null)
    {
        <div>
            @_business.BusinessName
        </div>

        @_business.PhoneNumber <br/>
        @_business.Cvr <br/>
        @_business.Role
        <div class="location">
            <div class="location-content">
                <div class="location-row">
                    <img src="images/icons/location.png" alt="location-icon" class="location-icon"/>
                    <p class="location-text">
                        @_business.Address.County @_business.Address.Number,
                        @_business.Address.PostalCode,
                        @_business.Address.City
                    </p>
                </div>
            </div>
        </div>
    }

    <div> add offers of the business</div>
    <div> add reviews and rating on the business</div>

</div>

@code {
    [Parameter] public string id { get; set; }

    private BusinessResponseDto? _business;
    
    protected override async Task OnInitializedAsync()
    {
        _business = await BusinessService.GetBusinessByIdAsync(id);
    }
}