@page "/business/{id}"
@using client.DTO
@using client.DTO.Business
@using client.DTO.Offer
@inject IBusinessService BusinessService
@inject IOfferService OfferService
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager


<div class="container">
    @if (_business != null)
    {
        <div class="display-container">
            <img src="@(HttpClient.BaseAddress + "server/images/" + _business.Logo_path)" alt="business-logo" class="business-logo">
            <div class="business-contact">
                <h3 class="BusinessName">@_business.BusinessName</h3>
                <p>@_business.PhoneNumber</p>
                <p>@_business.Email</p>
                <p>@_business.Cvr</p>
            </div>
        </div>

        <div class="location">
            <div class="location-content">
                <div class="location-row">
                    <img src="images/icons/location.png" alt="location-icon" class="location-icon"/>
                    <p class="location-text">
                        @_business.Address.County @_business.Address.Number,
                        @_business.Address.PostalCode,
                        @_business.Address.City
                    </p>
                </div>
            </div>
        </div>    
    }
    
    @if (offers == null){
    <p>Loading offers...</p>
    }
    else if (offers.Count == 0){
    <p>No offers from this business at this page moment.</p>
    }
    else{
    @foreach (OfferResponseDto offer in offers)
    {
        <OfferComponent OfferData="offer" OfferWidth="67rem" OfferMarginBottom="20px"></OfferComponent>
    }
    
    }
</div>

@code {
    [Parameter] public string id { get; set; }
    private List<OfferResponseDto>? offers = new List<OfferResponseDto>();
    private BusinessResponseDto? _business;
    private void ShowOfferDetails(string offerId)
    {
        NavigationManager.NavigateTo($"offers/{offerId}");
    }


    protected override async Task OnInitializedAsync()
    {
        _business = await BusinessService.GetBusinessByIdAsync(id);
        offers = await OfferService.GetOffersByBusinessIdAsync(id);
    }

}