@page "/offers/{id}"

@using client.DTO
@using client.DTO.Offer
@using client.DTO.Purchase
@using client.Models
@using client.Services
@using Microsoft.AspNetCore.Authorization
@inherits Microsoft.AspNetCore.Components.LayoutComponentBase
@inject IPurchaseService PurchaseService
@inject IOfferService OfferService
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

@attribute [Authorize]

@if (_offer is not null)
{
<div class="container">
    <div class="offer__info">
        @* <div class="logo-image"> *@
        @*     <img src="@(HttpClient.BaseAddress + "/images/" + _offer.BusinessLogoPath)" onerror="this.src='/images/businessLogoPlaceholder.jpg'" alt="Offer Image"> *@
        @* </div> *@
        
<img src="@(HttpClient.BaseAddress + "images/" + _offer.ImagePath)" onerror="this.src='images/offerPlaceholder.jpg'" alt="Offer Image" class="offer-image"/>
        <img src="@(HttpClient.BaseAddress + "images/" + _offer.BusinessLogoPath)" onerror="this.src='images/businessLogoPlaceholder.jpg'" alt="Logo" class="logo-image"/>
        <header class="BusinessName">@_offer.BusinessName</header>
        <div class="offer__top--left @(_offer.NumberOfAvailableItems > 0 ? "" : "sold-out")">
            @(_offer.NumberOfAvailableItems > 0
                ? $"{_offer.NumberOfAvailableItems} Left"
                : "Sold Out")
        </div>
    </div>

    <div class="float-container">
        <!-- Left -->
        <div><h2>@_offer.Title</h2>
            <div class="float-child">
                <div class="row">
                    <img src="images/icons/bag.png" alt="Bag icon" class="icon"/>
                    <p>@string.Join(", ", _offer.Categories)</p>
                </div>
                <div class="row">
                    <img src="images/icons/star.png" alt="Star icon" class="icon"/>
                    <p>STARS HERE</p>
                </div>
                <div class="row">
                    <img src="images/icons/clock.png" alt="Clock icon" class="icon"/>
                    <p>Collect @_offer.PickupTimeStart.Day/@_offer.PickupTimeStart.Month/@_offer.PickupTimeStart.Year from @_offer.PickupTimeStart.Hour:@_offer.PickupTimeStart.Minute to @_offer.PickupTimeEnd.Hour:@_offer.PickupTimeEnd.Minute</p>
                </div>
            </div>
        </div>

        <!-- Right -->
        <div class="float-child2">
            <div class="crossed-row">
                <p><strong>Old Price:</strong> @_offer.OriginalPrice dkk</p>
            </div>
            <div class="row">
                <p><strong>New Price:</strong> @_offer.OfferPrice dkk</p>
            </div>
            <div class="row">
                <div class="amount-reserve-container">
                    <label for="amount">
                        <strong>Amount:</strong>
                    </label>

                    <div id="amount">
                        <button
                            @onclick="DecreaseQuantity"
                            style="visibility: @(amount > 1 ? "visible" : "hidden");">
                            -
                        </button>
                        <span>@amount</span>
                        <button
                            @onclick="IncreaseQuantity"
                            style="visibility: @(amount < _offer.NumberOfAvailableItems ? "visible" : "hidden");">
                            +
                        </button>
                    </div>

                    <button @onclick="SubmitPurchase" class="reserve-button">Reserve</button>
                </div>
            </div>
        </div>
    </div>

    <div class="location">
        <div class="location-content">
            <div class="location-row">
                <img src="images/icons/location.png" alt="location-icon" class="location-icon"/>
                <p class="location-text">@_offer.BusinessAddress.Street @_offer.BusinessAddress.Number, @_offer.BusinessAddress.PostalCode, @_offer.BusinessAddress.City</p>
            </div>
        </div>
    </div>

    <div class="description">
        <h5>Description</h5>
        <p>@_offer.Description</p>
    </div>
</div>
}
else
{
<p>Loading offer...</p>
}

@code {
    [Parameter] public string id { get; set; }
    private int amount = 1;

    private OfferResponseDto? _offer;

    protected override async Task OnInitializedAsync()
    {
        _offer = await OfferService.GetOfferByIdAsync(id);
        Console.WriteLine(HttpClient.BaseAddress + "images/" + _offer.ImagePath);
    }

    private void IncreaseQuantity()
    {
        if (amount < _offer.NumberOfAvailableItems)
            amount++;
    }

    private void DecreaseQuantity()
    {
        if (amount > 1)
            amount--;
    }

    private async Task SubmitPurchase()
    {
        var request = new PurchaseRequestDto
        {
            OfferId = id,
            NumberOfItems = amount
        };

        try
        {
            var response = await PurchaseService.CreatePurchaseAsync(request);
            string sessionUrl = response.Url;
            NavigationManager.NavigateTo(sessionUrl);
        }
        catch (Exception e)
        {
// Handle errors (e.g., display a message to the user)
        }
    }

    private void ShowBusinessDetails(string businessId)
    {
        Console.WriteLine(businessId);
        NavigationManager.NavigateTo($"business/{businessId}");
    }
}

