
@inherits ComponentBase

<div class="card foodbag-card mb-4">
    <div class="card-body">
        <ul class="list-unstyled">
            <li>
                <strong>Id:</strong> @FoodBag.Id
            </li>
            <li>
                <strong>Address:</strong> @FoodBag.Address
            </li>
            <li>
                <strong>Type:</strong> @FoodBag.Type
            </li>
            <li><strong>Price:</strong> @FoodBag.NewPrice kr</li>
            <li>
                <strong>Pickup Date:</strong> @FoodBag.PickupDate
            </li>
            <li><strong>Pickup Time:</strong> @FoodBag.PickupTime1 - @FoodBag.PickupTime2</li>
        </ul>
    </div>
</div>

@code {
    [Parameter] public FoodBag FoodBag { get; set; }
}

