@inject NavigationManager NavigationManager
@inject AuthStateProvider AuthStateProvider;
@inject INotificationService NotificationService
@inject IJSRuntime JS

<AuthorizeView>
    <Authorized>
        <nav class="nav">
            <a class="nav__logo" href="/">
                <svg class="nav__logo-svg" width="70" height="49" viewBox="0 0 70 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.64844 30.1719V32H2.59375V30.1719H8.64844ZM3.35938 20.625V32H1.01562V20.625H3.35938ZM7.85938 25.2578V27.0391H2.59375V25.2578H7.85938ZM8.64062 20.625V22.4609H2.59375V20.625H8.64062ZM14.4375 30.0938V26.3281C14.4375 26.0573 14.3932 25.8255 14.3047 25.6328C14.2161 25.4349 14.0781 25.2812 13.8906 25.1719C13.7083 25.0625 13.4714 25.0078 13.1797 25.0078C12.9297 25.0078 12.7135 25.0521 12.5312 25.1406C12.349 25.224 12.2083 25.3464 12.1094 25.5078C12.0104 25.6641 11.9609 25.849 11.9609 26.0625H9.71094C9.71094 25.7031 9.79427 25.362 9.96094 25.0391C10.1276 24.7161 10.3698 24.4323 10.6875 24.1875C11.0052 23.9375 11.3828 23.7422 11.8203 23.6016C12.263 23.4609 12.7578 23.3906 13.3047 23.3906C13.9609 23.3906 14.5443 23.5 15.0547 23.7188C15.5651 23.9375 15.9661 24.2656 16.2578 24.7031C16.5547 25.1406 16.7031 25.6875 16.7031 26.3438V29.9609C16.7031 30.4245 16.7318 30.8047 16.7891 31.1016C16.8464 31.3932 16.9297 31.6484 17.0391 31.8672V32H14.7656C14.6562 31.7708 14.5729 31.4844 14.5156 31.1406C14.4635 30.7917 14.4375 30.4427 14.4375 30.0938ZM14.7344 26.8516L14.75 28.125H13.4922C13.1953 28.125 12.9375 28.1589 12.7188 28.2266C12.5 28.2943 12.3203 28.3906 12.1797 28.5156C12.0391 28.6354 11.9349 28.776 11.8672 28.9375C11.8047 29.099 11.7734 29.276 11.7734 29.4688C11.7734 29.6615 11.8177 29.8359 11.9062 29.9922C11.9948 30.1432 12.1224 30.263 12.2891 30.3516C12.4557 30.4349 12.651 30.4766 12.875 30.4766C13.2135 30.4766 13.5078 30.4089 13.7578 30.2734C14.0078 30.138 14.2005 29.9714 14.3359 29.7734C14.4766 29.5755 14.5495 29.388 14.5547 29.2109L15.1484 30.1641C15.0651 30.3776 14.9505 30.599 14.8047 30.8281C14.6641 31.0573 14.4844 31.2734 14.2656 31.4766C14.0469 31.6745 13.7839 31.8385 13.4766 31.9688C13.1693 32.0938 12.8047 32.1562 12.3828 32.1562C11.8464 32.1562 11.3594 32.0495 10.9219 31.8359C10.4896 31.6172 10.1458 31.3177 9.89062 30.9375C9.64062 30.5521 9.51562 30.1146 9.51562 29.625C9.51562 29.1823 9.59896 28.7891 9.76562 28.4453C9.93229 28.1016 10.1771 27.8125 10.5 27.5781C10.8281 27.3385 11.237 27.1589 11.7266 27.0391C12.2161 26.9141 12.7839 26.8516 13.4297 26.8516H14.7344ZM22.5781 23.5469V25.1406H17.6562V23.5469H22.5781ZM18.875 21.4609H21.125V29.4531C21.125 29.6979 21.1562 29.8854 21.2188 30.0156C21.2865 30.1458 21.3854 30.237 21.5156 30.2891C21.6458 30.3359 21.8099 30.3594 22.0078 30.3594C22.1484 30.3594 22.2734 30.3542 22.3828 30.3438C22.4974 30.3281 22.5938 30.3125 22.6719 30.2969L22.6797 31.9531C22.487 32.0156 22.2786 32.0651 22.0547 32.1016C21.8307 32.138 21.5833 32.1562 21.3125 32.1562C20.8177 32.1562 20.3854 32.0755 20.0156 31.9141C19.651 31.7474 19.3698 31.4818 19.1719 31.1172C18.974 30.7526 18.875 30.2734 18.875 29.6797V21.4609ZM26.7422 30.1953L29.0078 20.625H30.2734L30.5625 22.2188L28.1484 32H26.7891L26.7422 30.1953ZM25.5781 20.625L27.4531 30.1953L27.2969 32H25.7812L23.2578 20.625H25.5781ZM32.5547 30.1562L34.4062 20.625H36.7266L34.2109 32H32.6953L32.5547 30.1562ZM30.9844 20.625L33.2656 30.2344L33.2031 32H31.8438L29.4141 22.2109L29.7266 20.625H30.9844ZM40.2344 23.5469V32H37.9766V23.5469H40.2344ZM37.8359 21.3438C37.8359 21.0156 37.9505 20.7448 38.1797 20.5312C38.4089 20.3177 38.7161 20.2109 39.1016 20.2109C39.4818 20.2109 39.7865 20.3177 40.0156 20.5312C40.25 20.7448 40.3672 21.0156 40.3672 21.3438C40.3672 21.6719 40.25 21.9427 40.0156 22.1562C39.7865 22.3698 39.4818 22.4766 39.1016 22.4766C38.7161 22.4766 38.4089 22.3698 38.1797 22.1562C37.9505 21.9427 37.8359 21.6719 37.8359 21.3438ZM46.6641 29.6641C46.6641 29.5026 46.6172 29.3568 46.5234 29.2266C46.4297 29.0964 46.2552 28.9766 46 28.8672C45.75 28.7526 45.388 28.6484 44.9141 28.5547C44.487 28.4609 44.0885 28.3438 43.7188 28.2031C43.3542 28.0573 43.0365 27.8828 42.7656 27.6797C42.5 27.4766 42.2917 27.237 42.1406 26.9609C41.9896 26.6797 41.9141 26.3594 41.9141 26C41.9141 25.6458 41.9896 25.3125 42.1406 25C42.2969 24.6875 42.5182 24.4115 42.8047 24.1719C43.0964 23.9271 43.4505 23.737 43.8672 23.6016C44.2891 23.4609 44.763 23.3906 45.2891 23.3906C46.0234 23.3906 46.6536 23.5078 47.1797 23.7422C47.7109 23.9766 48.1172 24.2995 48.3984 24.7109C48.6849 25.1172 48.8281 25.5807 48.8281 26.1016H46.5781C46.5781 25.8828 46.5312 25.6875 46.4375 25.5156C46.349 25.3385 46.2083 25.2005 46.0156 25.1016C45.8281 24.9974 45.5833 24.9453 45.2812 24.9453C45.0312 24.9453 44.8151 24.9896 44.6328 25.0781C44.4505 25.1615 44.3099 25.276 44.2109 25.4219C44.1172 25.5625 44.0703 25.7188 44.0703 25.8906C44.0703 26.0208 44.0964 26.138 44.1484 26.2422C44.2057 26.3411 44.2969 26.4323 44.4219 26.5156C44.5469 26.599 44.7083 26.6771 44.9062 26.75C45.1094 26.8177 45.3594 26.8802 45.6562 26.9375C46.2656 27.0625 46.8099 27.2266 47.2891 27.4297C47.7682 27.6276 48.1484 27.8984 48.4297 28.2422C48.7109 28.5807 48.8516 29.026 48.8516 29.5781C48.8516 29.9531 48.7682 30.2969 48.6016 30.6094C48.4349 30.9219 48.1953 31.1953 47.8828 31.4297C47.5703 31.6589 47.1953 31.8385 46.7578 31.9688C46.3255 32.0938 45.8385 32.1562 45.2969 32.1562C44.5104 32.1562 43.8438 32.0156 43.2969 31.7344C42.7552 31.4531 42.3438 31.0964 42.0625 30.6641C41.7865 30.2266 41.6484 29.7786 41.6484 29.3203H43.7812C43.7917 29.6276 43.8698 29.875 44.0156 30.0625C44.1667 30.25 44.3568 30.3854 44.5859 30.4688C44.8203 30.5521 45.0729 30.5938 45.3438 30.5938C45.6354 30.5938 45.8776 30.5547 46.0703 30.4766C46.263 30.3932 46.4089 30.2839 46.5078 30.1484C46.612 30.0078 46.6641 29.8464 46.6641 29.6641ZM54.2031 32.1562C53.5469 32.1562 52.9583 32.0521 52.4375 31.8438C51.9167 31.6302 51.474 31.3359 51.1094 30.9609C50.75 30.5859 50.474 30.151 50.2812 29.6562C50.0885 29.1562 49.9922 28.625 49.9922 28.0625V27.75C49.9922 27.1094 50.0833 26.5234 50.2656 25.9922C50.4479 25.4609 50.7083 25 51.0469 24.6094C51.3906 24.2188 51.8073 23.9193 52.2969 23.7109C52.7865 23.4974 53.3385 23.3906 53.9531 23.3906C54.5521 23.3906 55.0833 23.4896 55.5469 23.6875C56.0104 23.8854 56.3984 24.1667 56.7109 24.5312C57.0286 24.8958 57.2682 25.3333 57.4297 25.8438C57.5911 26.349 57.6719 26.9115 57.6719 27.5312V28.4688H50.9531V26.9688H55.4609V26.7969C55.4609 26.4844 55.4036 26.2057 55.2891 25.9609C55.1797 25.7109 55.013 25.513 54.7891 25.3672C54.5651 25.2214 54.2786 25.1484 53.9297 25.1484C53.6328 25.1484 53.3776 25.2135 53.1641 25.3438C52.9505 25.474 52.776 25.6562 52.6406 25.8906C52.5104 26.125 52.4115 26.401 52.3438 26.7188C52.2812 27.0312 52.25 27.375 52.25 27.75V28.0625C52.25 28.401 52.2969 28.7135 52.3906 29C52.4896 29.2865 52.6276 29.5339 52.8047 29.7422C52.987 29.9505 53.2057 30.112 53.4609 30.2266C53.7214 30.3411 54.0156 30.3984 54.3438 30.3984C54.75 30.3984 55.1276 30.3203 55.4766 30.1641C55.8307 30.0026 56.1354 29.7604 56.3906 29.4375L57.4844 30.625C57.3073 30.8802 57.0651 31.125 56.7578 31.3594C56.4557 31.5938 56.0911 31.7865 55.6641 31.9375C55.237 32.0833 54.75 32.1562 54.2031 32.1562Z" fill="#F1FAEE"/>
                    <path d="M64.3562 34.0717C63.7931 35.1008 62.7001 35.8005 61.4465 35.8005C60.0736 35.8005 58.8931 34.9613 58.3907 33.769L48.6558 36.9474H67.0118L64.3562 34.0717Z" fill="#F1FAEE"/>
                    <path d="M47.7778 44.7637C47.7778 45.5317 48.4003 46.1541 49.1682 46.1541H65.8319C66.5998 46.1541 67.2223 45.5317 67.2223 44.7637V42.7554H47.7778V44.7637Z" fill="#F1FAEE"/>
                    <path d="M67.2223 38.0522H47.7778V41.293H67.2223V38.0522Z" fill="#F1FAEE"/>
                    <path d="M61.4469 34.6956C62.6672 34.6956 63.6565 33.7062 63.6565 32.486C63.6565 31.6006 63.1357 30.8374 62.3839 30.4848C62.5035 30.1593 62.6563 29.8135 62.849 29.4837C63.3486 28.629 64.1179 27.8826 65.2818 27.8826C65.5869 27.8826 65.8342 27.6354 65.8342 27.3302C65.8342 27.0251 65.5869 26.7778 65.2818 26.7778C63.79 26.7778 62.5719 27.6096 61.748 29.1858C61.5624 29.5403 61.4093 29.9079 61.2808 30.2833C60.1381 30.3683 59.2373 31.3216 59.2373 32.486C59.2373 33.7062 60.2266 34.6956 61.4469 34.6956ZM60.1199 31.8583C60.277 31.5448 60.5223 31.2891 60.829 31.119C61.0914 30.9733 61.4304 31.0645 61.58 31.3342C61.728 31.6009 61.6316 31.9372 61.3649 32.0851C61.26 32.1433 61.173 32.2333 61.1163 32.3387C61.1136 32.3437 61.1101 32.3482 61.1076 32.3532C61.0107 32.5466 60.8158 32.6583 60.6133 32.6583C60.2054 32.6584 59.9353 32.2266 60.1199 31.8583Z" fill="#F1FAEE"/>
                    <g clip-path="url(#clip0_283_43)">
                        <path d="M37.3157 9.11998C36.1356 10.2088 35.3166 11.5315 35.0172 12.867C34.9292 13.2604 34.5799 13.5278 34.1931 13.5278C34.1318 13.5278 34.0697 13.521 34.0075 13.5071C33.5518 13.405 33.2653 12.9528 33.3674 12.4974C33.6921 11.0487 34.5038 9.58013 35.726 8.31339C34.9394 7.97701 34.1039 7.70589 33.2311 7.50368C32.6463 7.78891 32.1499 8.09756 31.7421 8.39134C30.0837 9.58511 28.9205 11.2164 28.5504 12.867C28.4623 13.2604 28.1132 13.5278 27.7263 13.5278C27.665 13.5278 27.603 13.521 27.5408 13.5071C27.085 13.405 26.7986 12.9528 26.9006 12.4974C27.3337 10.5653 28.6334 8.59702 30.6184 7.12029C30.2497 7.0962 29.877 7.08301 29.5004 7.08301C29.0723 7.08301 28.6497 7.10068 28.2321 7.1317C27.2606 7.50351 26.4796 7.9634 25.8852 8.39134C24.2268 9.58511 23.0635 11.2164 22.6936 12.867C22.6055 13.2604 22.2564 13.5278 21.8694 13.5278C21.8083 13.5278 21.746 13.521 21.6838 13.5071C21.2282 13.405 20.9417 12.9528 21.0439 12.4974C21.3759 11.0155 22.2175 9.51275 23.4868 8.22648C20.6652 9.38011 18.4383 11.344 17.2706 13.8373C16.8547 14.725 16.9216 15.764 17.4481 16.5911C17.9744 17.4183 18.887 17.9171 19.8674 17.9171H39.1335C40.1134 17.9171 41.0252 17.4166 41.5514 16.5899C42.0775 15.7632 42.1458 14.7247 41.7302 13.8371C40.824 11.9025 39.2801 10.2864 37.3157 9.11998Z" fill="#F1FAEE"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_283_43">
                            <rect width="25" height="25" fill="white" transform="translate(17)"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>


            <!--End-->
            @if (userHasRole)
            {
                <a class="@GetNavItemClass("/offer")" href="/offer">
                    <svg class="nav__item--svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.447 21.5498C17.447 19.0038 19.5109 16.9363 22.0568 16.9363C24.6027 16.9363 26.6666 19.0038 26.6666 21.5498C26.6666 24.0957 24.6027 26.1633 22.0568 26.1633C19.5109 26.1633 17.447 24.0957 17.447 21.5498ZM21.4381 19.2299C21.4381 18.8922 21.7119 18.6184 22.0496 18.6184C22.3873 18.6184 22.661 18.8922 22.661 19.2299V20.9194H24.4432C24.7812 20.9194 25.0552 21.1934 25.0552 21.5314C25.0552 21.8694 24.7812 22.1434 24.4432 22.1434H22.661V23.9308C22.661 24.2685 22.3873 24.5423 22.0496 24.5423C21.7119 24.5423 21.4381 24.2685 21.4381 23.9308V22.1434H19.7515C19.4136 22.1434 19.1396 21.8694 19.1396 21.5314C19.1396 21.1934 19.4136 20.9194 19.7515 20.9194H21.4381V19.2299Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.0549 6.8536C11.0549 6.01398 11.7338 5.33334 12.5713 5.33334H17.6262C18.4637 5.33334 19.1427 6.01398 19.1427 6.8536V7.86711C19.1427 8.70672 18.4637 9.38737 17.6262 9.38737H12.5713C11.7338 9.38737 11.0549 8.70672 11.0549 7.86711V6.8536ZM6.88832 8.24914C7.46387 7.67215 8.2667 7.46899 9.53841 7.39746V7.86711C9.53841 9.54634 10.8963 10.9076 12.5713 10.9076H17.6262C19.3012 10.9076 20.6591 9.54634 20.6591 7.86711V7.39746C21.9308 7.46899 22.7336 7.67215 23.3092 8.24914C24.1975 9.13969 24.1975 10.573 24.1975 13.4396V16.287C23.5017 15.9804 22.7323 15.8102 21.9232 15.8102C18.8027 15.8102 16.2731 18.3419 16.2731 21.4648C16.2731 23.098 16.965 24.5695 18.0713 25.6017H12.0658C9.20638 25.6017 7.77664 25.6017 6.88832 24.7112C6 23.8206 6 22.3873 6 19.5207V13.4396C6 10.573 6 9.13969 6.88832 8.24914ZM9.28566 13.9482C9.28566 13.5283 9.62513 13.188 10.0439 13.188H10.5494C10.9681 13.188 11.3076 13.5283 11.3076 13.9482C11.3076 14.368 10.9681 14.7083 10.5494 14.7083H10.0439C9.62513 14.7083 9.28566 14.368 9.28566 13.9482ZM12.8241 13.9482C12.8241 13.5283 13.1635 13.188 13.5823 13.188H20.1536C20.5724 13.188 20.9119 13.5283 20.9119 13.9482C20.9119 14.368 20.5724 14.7083 20.1536 14.7083H13.5823C13.1635 14.7083 12.8241 14.368 12.8241 13.9482ZM9.28566 17.4954C9.28566 17.0756 9.62513 16.7353 10.0439 16.7353H10.5494C10.9681 16.7353 11.3076 17.0756 11.3076 17.4954C11.3076 17.9152 10.9681 18.2556 10.5494 18.2556H10.0439C9.62513 18.2556 9.28566 17.9152 9.28566 17.4954ZM12.8241 17.4954C12.8241 17.0756 13.1635 16.7353 13.5823 16.7353L16.1097 16.7353C16.5285 16.7353 16.868 17.0756 16.868 17.4954C16.868 17.9152 16.5285 18.2556 16.1097 18.2556L13.5823 18.2556C13.1635 18.2556 12.8241 17.9152 12.8241 17.4954ZM9.28566 21.0427C9.28566 20.6229 9.62513 20.2826 10.0439 20.2826H10.5494C10.9681 20.2826 11.3076 20.6229 11.3076 21.0427C11.3076 21.4625 10.9681 21.8028 10.5494 21.8028H10.0439C9.62513 21.8028 9.28566 21.4625 9.28566 21.0427ZM12.8241 21.0427C12.8241 20.6229 13.1635 20.2826 13.5823 20.2826L14.952 20.2826C15.3708 20.2826 15.7102 20.6229 15.7102 21.0427C15.7102 21.4625 15.3708 21.8028 14.952 21.8028H13.5823C13.1635 21.8028 12.8241 21.4625 12.8241 21.0427Z" fill="white"/>
                    </svg>

                </a>
            }
            <a class="nav__notification @(isNotificationBarOpen ? "nav__item nav__item--active" : "nav__item")">
            <svg class="nav__item--svg" @onclick="HandleButtonClick" alt="Notifications" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3518 23.2418C12.1929 24.311 13.5142 25 15 25C16.4858 25 17.8071 24.311 18.6482 23.2418C16.2264 23.57 13.7736 23.57 11.3518 23.2418Z" fill="white"/>
                    <path d="M21.7491 12V12.7041C21.7491 13.5491 21.9903 14.3752 22.4422 15.0782L23.5496 16.8012C24.5612 18.3749 23.789 20.5139 22.0296 21.0116C17.4273 22.3134 12.5727 22.3134 7.97036 21.0116C6.21105 20.5139 5.43882 18.3749 6.45036 16.8012L7.5578 15.0782C8.00972 14.3752 8.25087 13.5491 8.25087 12.7041V12C8.25087 8.13401 11.2726 5 15 5C18.7274 5 21.7491 8.13401 21.7491 12Z" fill="white"/>
                </svg>
                @if (hasNewNotifications)
                {
                <div class="notification-dot"></div>
                }
                @if (isNotificationBarOpen)
                {
                <NotificationBar />
                }
            </a>
            
            
            <a class="@GetNavItemClass("/purchases")" href="/purchases">
                <svg class="nav__item--svg" alt="Purchases" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.5 5C11.6716 5 11 5.67157 11 6.5V7.5C11 8.32843 11.6716 9 12.5 9H17.5C18.3284 9 19 8.32843 19 7.5V6.5C19 5.67157 18.3284 5 17.5 5H12.5Z" fill="currentColor"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.5 7.03662C8.24209 7.10719 7.44798 7.30764 6.87868 7.87694C6 8.75562 6 10.1698 6 12.9983V18.9983C6 21.8267 6 23.2409 6.87868 24.1196C7.75736 24.9983 9.17157 24.9983 12 24.9983H18C20.8284 24.9983 22.2426 24.9983 23.1213 24.1196C24 23.2409 24 21.8267 24 18.9983V12.9983C24 10.1698 24 8.75562 23.1213 7.87694C22.552 7.30764 21.7579 7.10719 20.5 7.03662V7.5C20.5 9.15685 19.1569 10.5 17.5 10.5H12.5C10.8431 10.5 9.5 9.15685 9.5 7.5V7.03662ZM10 12.75C9.58579 12.75 9.25 13.0858 9.25 13.5C9.25 13.9142 9.58579 14.25 10 14.25H10.5C10.9142 14.25 11.25 13.9142 11.25 13.5C11.25 13.0858 10.9142 12.75 10.5 12.75H10ZM13.5 12.75C13.0858 12.75 12.75 13.0858 12.75 13.5C12.75 13.9142 13.0858 14.25 13.5 14.25H20C20.4142 14.25 20.75 13.9142 20.75 13.5C20.75 13.0858 20.4142 12.75 20 12.75H13.5ZM10 16.25C9.58579 16.25 9.25 16.5858 9.25 17C9.25 17.4142 9.58579 17.75 10 17.75H10.5C10.9142 17.75 11.25 17.4142 11.25 17C11.25 16.5858 10.9142 16.25 10.5 16.25H10ZM13.5 16.25C13.0858 16.25 12.75 16.5858 12.75 17C12.75 17.4142 13.0858 17.75 13.5 17.75H20C20.4142 17.75 20.75 17.4142 20.75 17C20.75 16.5858 20.4142 16.25 20 16.25H13.5ZM10 19.75C9.58579 19.75 9.25 20.0858 9.25 20.5C9.25 20.9142 9.58579 21.25 10 21.25H10.5C10.9142 21.25 11.25 20.9142 11.25 20.5C11.25 20.0858 10.9142 19.75 10.5 19.75H10ZM13.5 19.75C13.0858 19.75 12.75 20.0858 12.75 20.5C12.75 20.9142 13.0858 21.25 13.5 21.25H20C20.4142 21.25 20.75 20.9142 20.75 20.5C20.75 20.0858 20.4142 19.75 20 19.75H13.5Z" fill="currentColor"/>
                </svg>
            </a>
            <a class="@GetNavItemClass("/profile")" href="/profile">
                <svg class="nav__item--svg" alt="Profile" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="9" r="4" fill="currentColor"/>
                    <path d="M23 20.5C23 22.9853 23 25 15 25C7 25 7 22.9853 7 20.5C7 18.0147 10.5817 16 15 16C19.4183 16 23 18.0147 23 20.5Z" fill="currentColor"/>
                </svg>
            </a>
        </nav>
    </Authorized>

    <NotAuthorized>
        <nav class="nav">
            <a class="nav__logo">
                <svg class="nav__logo-svg" width="70" height="49" viewBox="0 0 70 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.64844 30.1719V32H2.59375V30.1719H8.64844ZM3.35938 20.625V32H1.01562V20.625H3.35938ZM7.85938 25.2578V27.0391H2.59375V25.2578H7.85938ZM8.64062 20.625V22.4609H2.59375V20.625H8.64062ZM14.4375 30.0938V26.3281C14.4375 26.0573 14.3932 25.8255 14.3047 25.6328C14.2161 25.4349 14.0781 25.2812 13.8906 25.1719C13.7083 25.0625 13.4714 25.0078 13.1797 25.0078C12.9297 25.0078 12.7135 25.0521 12.5312 25.1406C12.349 25.224 12.2083 25.3464 12.1094 25.5078C12.0104 25.6641 11.9609 25.849 11.9609 26.0625H9.71094C9.71094 25.7031 9.79427 25.362 9.96094 25.0391C10.1276 24.7161 10.3698 24.4323 10.6875 24.1875C11.0052 23.9375 11.3828 23.7422 11.8203 23.6016C12.263 23.4609 12.7578 23.3906 13.3047 23.3906C13.9609 23.3906 14.5443 23.5 15.0547 23.7188C15.5651 23.9375 15.9661 24.2656 16.2578 24.7031C16.5547 25.1406 16.7031 25.6875 16.7031 26.3438V29.9609C16.7031 30.4245 16.7318 30.8047 16.7891 31.1016C16.8464 31.3932 16.9297 31.6484 17.0391 31.8672V32H14.7656C14.6562 31.7708 14.5729 31.4844 14.5156 31.1406C14.4635 30.7917 14.4375 30.4427 14.4375 30.0938ZM14.7344 26.8516L14.75 28.125H13.4922C13.1953 28.125 12.9375 28.1589 12.7188 28.2266C12.5 28.2943 12.3203 28.3906 12.1797 28.5156C12.0391 28.6354 11.9349 28.776 11.8672 28.9375C11.8047 29.099 11.7734 29.276 11.7734 29.4688C11.7734 29.6615 11.8177 29.8359 11.9062 29.9922C11.9948 30.1432 12.1224 30.263 12.2891 30.3516C12.4557 30.4349 12.651 30.4766 12.875 30.4766C13.2135 30.4766 13.5078 30.4089 13.7578 30.2734C14.0078 30.138 14.2005 29.9714 14.3359 29.7734C14.4766 29.5755 14.5495 29.388 14.5547 29.2109L15.1484 30.1641C15.0651 30.3776 14.9505 30.599 14.8047 30.8281C14.6641 31.0573 14.4844 31.2734 14.2656 31.4766C14.0469 31.6745 13.7839 31.8385 13.4766 31.9688C13.1693 32.0938 12.8047 32.1562 12.3828 32.1562C11.8464 32.1562 11.3594 32.0495 10.9219 31.8359C10.4896 31.6172 10.1458 31.3177 9.89062 30.9375C9.64062 30.5521 9.51562 30.1146 9.51562 29.625C9.51562 29.1823 9.59896 28.7891 9.76562 28.4453C9.93229 28.1016 10.1771 27.8125 10.5 27.5781C10.8281 27.3385 11.237 27.1589 11.7266 27.0391C12.2161 26.9141 12.7839 26.8516 13.4297 26.8516H14.7344ZM22.5781 23.5469V25.1406H17.6562V23.5469H22.5781ZM18.875 21.4609H21.125V29.4531C21.125 29.6979 21.1562 29.8854 21.2188 30.0156C21.2865 30.1458 21.3854 30.237 21.5156 30.2891C21.6458 30.3359 21.8099 30.3594 22.0078 30.3594C22.1484 30.3594 22.2734 30.3542 22.3828 30.3438C22.4974 30.3281 22.5938 30.3125 22.6719 30.2969L22.6797 31.9531C22.487 32.0156 22.2786 32.0651 22.0547 32.1016C21.8307 32.138 21.5833 32.1562 21.3125 32.1562C20.8177 32.1562 20.3854 32.0755 20.0156 31.9141C19.651 31.7474 19.3698 31.4818 19.1719 31.1172C18.974 30.7526 18.875 30.2734 18.875 29.6797V21.4609ZM26.7422 30.1953L29.0078 20.625H30.2734L30.5625 22.2188L28.1484 32H26.7891L26.7422 30.1953ZM25.5781 20.625L27.4531 30.1953L27.2969 32H25.7812L23.2578 20.625H25.5781ZM32.5547 30.1562L34.4062 20.625H36.7266L34.2109 32H32.6953L32.5547 30.1562ZM30.9844 20.625L33.2656 30.2344L33.2031 32H31.8438L29.4141 22.2109L29.7266 20.625H30.9844ZM40.2344 23.5469V32H37.9766V23.5469H40.2344ZM37.8359 21.3438C37.8359 21.0156 37.9505 20.7448 38.1797 20.5312C38.4089 20.3177 38.7161 20.2109 39.1016 20.2109C39.4818 20.2109 39.7865 20.3177 40.0156 20.5312C40.25 20.7448 40.3672 21.0156 40.3672 21.3438C40.3672 21.6719 40.25 21.9427 40.0156 22.1562C39.7865 22.3698 39.4818 22.4766 39.1016 22.4766C38.7161 22.4766 38.4089 22.3698 38.1797 22.1562C37.9505 21.9427 37.8359 21.6719 37.8359 21.3438ZM46.6641 29.6641C46.6641 29.5026 46.6172 29.3568 46.5234 29.2266C46.4297 29.0964 46.2552 28.9766 46 28.8672C45.75 28.7526 45.388 28.6484 44.9141 28.5547C44.487 28.4609 44.0885 28.3438 43.7188 28.2031C43.3542 28.0573 43.0365 27.8828 42.7656 27.6797C42.5 27.4766 42.2917 27.237 42.1406 26.9609C41.9896 26.6797 41.9141 26.3594 41.9141 26C41.9141 25.6458 41.9896 25.3125 42.1406 25C42.2969 24.6875 42.5182 24.4115 42.8047 24.1719C43.0964 23.9271 43.4505 23.737 43.8672 23.6016C44.2891 23.4609 44.763 23.3906 45.2891 23.3906C46.0234 23.3906 46.6536 23.5078 47.1797 23.7422C47.7109 23.9766 48.1172 24.2995 48.3984 24.7109C48.6849 25.1172 48.8281 25.5807 48.8281 26.1016H46.5781C46.5781 25.8828 46.5312 25.6875 46.4375 25.5156C46.349 25.3385 46.2083 25.2005 46.0156 25.1016C45.8281 24.9974 45.5833 24.9453 45.2812 24.9453C45.0312 24.9453 44.8151 24.9896 44.6328 25.0781C44.4505 25.1615 44.3099 25.276 44.2109 25.4219C44.1172 25.5625 44.0703 25.7188 44.0703 25.8906C44.0703 26.0208 44.0964 26.138 44.1484 26.2422C44.2057 26.3411 44.2969 26.4323 44.4219 26.5156C44.5469 26.599 44.7083 26.6771 44.9062 26.75C45.1094 26.8177 45.3594 26.8802 45.6562 26.9375C46.2656 27.0625 46.8099 27.2266 47.2891 27.4297C47.7682 27.6276 48.1484 27.8984 48.4297 28.2422C48.7109 28.5807 48.8516 29.026 48.8516 29.5781C48.8516 29.9531 48.7682 30.2969 48.6016 30.6094C48.4349 30.9219 48.1953 31.1953 47.8828 31.4297C47.5703 31.6589 47.1953 31.8385 46.7578 31.9688C46.3255 32.0938 45.8385 32.1562 45.2969 32.1562C44.5104 32.1562 43.8438 32.0156 43.2969 31.7344C42.7552 31.4531 42.3438 31.0964 42.0625 30.6641C41.7865 30.2266 41.6484 29.7786 41.6484 29.3203H43.7812C43.7917 29.6276 43.8698 29.875 44.0156 30.0625C44.1667 30.25 44.3568 30.3854 44.5859 30.4688C44.8203 30.5521 45.0729 30.5938 45.3438 30.5938C45.6354 30.5938 45.8776 30.5547 46.0703 30.4766C46.263 30.3932 46.4089 30.2839 46.5078 30.1484C46.612 30.0078 46.6641 29.8464 46.6641 29.6641ZM54.2031 32.1562C53.5469 32.1562 52.9583 32.0521 52.4375 31.8438C51.9167 31.6302 51.474 31.3359 51.1094 30.9609C50.75 30.5859 50.474 30.151 50.2812 29.6562C50.0885 29.1562 49.9922 28.625 49.9922 28.0625V27.75C49.9922 27.1094 50.0833 26.5234 50.2656 25.9922C50.4479 25.4609 50.7083 25 51.0469 24.6094C51.3906 24.2188 51.8073 23.9193 52.2969 23.7109C52.7865 23.4974 53.3385 23.3906 53.9531 23.3906C54.5521 23.3906 55.0833 23.4896 55.5469 23.6875C56.0104 23.8854 56.3984 24.1667 56.7109 24.5312C57.0286 24.8958 57.2682 25.3333 57.4297 25.8438C57.5911 26.349 57.6719 26.9115 57.6719 27.5312V28.4688H50.9531V26.9688H55.4609V26.7969C55.4609 26.4844 55.4036 26.2057 55.2891 25.9609C55.1797 25.7109 55.013 25.513 54.7891 25.3672C54.5651 25.2214 54.2786 25.1484 53.9297 25.1484C53.6328 25.1484 53.3776 25.2135 53.1641 25.3438C52.9505 25.474 52.776 25.6562 52.6406 25.8906C52.5104 26.125 52.4115 26.401 52.3438 26.7188C52.2812 27.0312 52.25 27.375 52.25 27.75V28.0625C52.25 28.401 52.2969 28.7135 52.3906 29C52.4896 29.2865 52.6276 29.5339 52.8047 29.7422C52.987 29.9505 53.2057 30.112 53.4609 30.2266C53.7214 30.3411 54.0156 30.3984 54.3438 30.3984C54.75 30.3984 55.1276 30.3203 55.4766 30.1641C55.8307 30.0026 56.1354 29.7604 56.3906 29.4375L57.4844 30.625C57.3073 30.8802 57.0651 31.125 56.7578 31.3594C56.4557 31.5938 56.0911 31.7865 55.6641 31.9375C55.237 32.0833 54.75 32.1562 54.2031 32.1562Z" fill="#F1FAEE"/>
                    <path d="M64.3562 34.0717C63.7931 35.1008 62.7001 35.8005 61.4465 35.8005C60.0736 35.8005 58.8931 34.9613 58.3907 33.769L48.6558 36.9474H67.0118L64.3562 34.0717Z" fill="#F1FAEE"/>
                    <path d="M47.7778 44.7637C47.7778 45.5317 48.4003 46.1541 49.1682 46.1541H65.8319C66.5998 46.1541 67.2223 45.5317 67.2223 44.7637V42.7554H47.7778V44.7637Z" fill="#F1FAEE"/>
                    <path d="M67.2223 38.0522H47.7778V41.293H67.2223V38.0522Z" fill="#F1FAEE"/>
                    <path d="M61.4469 34.6956C62.6672 34.6956 63.6565 33.7062 63.6565 32.486C63.6565 31.6006 63.1357 30.8374 62.3839 30.4848C62.5035 30.1593 62.6563 29.8135 62.849 29.4837C63.3486 28.629 64.1179 27.8826 65.2818 27.8826C65.5869 27.8826 65.8342 27.6354 65.8342 27.3302C65.8342 27.0251 65.5869 26.7778 65.2818 26.7778C63.79 26.7778 62.5719 27.6096 61.748 29.1858C61.5624 29.5403 61.4093 29.9079 61.2808 30.2833C60.1381 30.3683 59.2373 31.3216 59.2373 32.486C59.2373 33.7062 60.2266 34.6956 61.4469 34.6956ZM60.1199 31.8583C60.277 31.5448 60.5223 31.2891 60.829 31.119C61.0914 30.9733 61.4304 31.0645 61.58 31.3342C61.728 31.6009 61.6316 31.9372 61.3649 32.0851C61.26 32.1433 61.173 32.2333 61.1163 32.3387C61.1136 32.3437 61.1101 32.3482 61.1076 32.3532C61.0107 32.5466 60.8158 32.6583 60.6133 32.6583C60.2054 32.6584 59.9353 32.2266 60.1199 31.8583Z" fill="#F1FAEE"/>
                    <g clip-path="url(#clip0_283_43)">
                        <path d="M37.3157 9.11998C36.1356 10.2088 35.3166 11.5315 35.0172 12.867C34.9292 13.2604 34.5799 13.5278 34.1931 13.5278C34.1318 13.5278 34.0697 13.521 34.0075 13.5071C33.5518 13.405 33.2653 12.9528 33.3674 12.4974C33.6921 11.0487 34.5038 9.58013 35.726 8.31339C34.9394 7.97701 34.1039 7.70589 33.2311 7.50368C32.6463 7.78891 32.1499 8.09756 31.7421 8.39134C30.0837 9.58511 28.9205 11.2164 28.5504 12.867C28.4623 13.2604 28.1132 13.5278 27.7263 13.5278C27.665 13.5278 27.603 13.521 27.5408 13.5071C27.085 13.405 26.7986 12.9528 26.9006 12.4974C27.3337 10.5653 28.6334 8.59702 30.6184 7.12029C30.2497 7.0962 29.877 7.08301 29.5004 7.08301C29.0723 7.08301 28.6497 7.10068 28.2321 7.1317C27.2606 7.50351 26.4796 7.9634 25.8852 8.39134C24.2268 9.58511 23.0635 11.2164 22.6936 12.867C22.6055 13.2604 22.2564 13.5278 21.8694 13.5278C21.8083 13.5278 21.746 13.521 21.6838 13.5071C21.2282 13.405 20.9417 12.9528 21.0439 12.4974C21.3759 11.0155 22.2175 9.51275 23.4868 8.22648C20.6652 9.38011 18.4383 11.344 17.2706 13.8373C16.8547 14.725 16.9216 15.764 17.4481 16.5911C17.9744 17.4183 18.887 17.9171 19.8674 17.9171H39.1335C40.1134 17.9171 41.0252 17.4166 41.5514 16.5899C42.0775 15.7632 42.1458 14.7247 41.7302 13.8371C40.824 11.9025 39.2801 10.2864 37.3157 9.11998Z" fill="#F1FAEE"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_283_43">
                            <rect width="25" height="25" fill="white" transform="translate(17)"/>
                        </clipPath>
                    </defs>
                </svg>
            </a>
            <a class="@GetNavItemClass("/auth/registration/business")" href="/auth/registration/business">
                <svg class="nav__item--svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18.569 6.69356V24.3963H6.69169V6.69356H18.569ZM19.1721 5.0468H6.08856C5.51219 5.0468 5.04492 5.60052 5.04492 6.28187V24.808C5.04492 25.4893 5.51219 26.043 6.08856 26.043H19.1721C19.7485 26.043 20.2157 25.4893 20.2157 24.808V6.28187C20.2157 5.60052 19.7485 5.0468 19.1721 5.0468Z" fill="white"/>
                    <path d="M15.3578 20.2382V24.3757H9.90286V20.2382H15.3578ZM16.6134 18.5914H8.62868C8.28286 18.5914 8.2561 18.787 8.2561 19.0278V25.584C8.2561 25.8248 8.28491 26.0204 8.62868 26.0204H16.6134C16.9592 26.0204 17.0045 25.8248 17.0045 25.584V19.0278C17.0045 18.787 16.9592 18.5914 16.6134 18.5914ZM24.3532 13.0954V24.3757H20.2384V13.0954H24.3532ZM25.6686 11.4486H18.9086C18.6163 11.4486 18.5937 11.8315 18.5937 12.3049V25.1641C18.5937 25.6375 18.6163 26.0204 18.9086 26.0204H25.6686C25.9609 26.0204 26 25.6375 26 25.1641V12.3049C26 11.8315 25.9609 11.4486 25.6686 11.4486ZM10.9527 9.55482H8.77071C8.31579 9.55482 7.94733 9.18635 7.94733 8.73143C7.94733 8.27651 8.31579 7.90805 8.77071 7.90805H10.9527C11.4076 7.90805 11.7761 8.27651 11.7761 8.73143C11.7761 9.18635 11.4076 9.55482 10.9527 9.55482ZM16.5105 9.55482H14.3285C13.8736 9.55482 13.5052 9.18635 13.5052 8.73143C13.5052 8.27651 13.8736 7.90805 14.3285 7.90805H16.5105C16.9654 7.90805 17.3339 8.27651 17.3339 8.73143C17.3339 9.18635 16.9654 9.55482 16.5105 9.55482ZM10.9527 12.7866H8.77071C8.31579 12.7866 7.94733 12.4181 7.94733 11.9632C7.94733 11.5083 8.31579 11.1398 8.77071 11.1398H10.9527C11.4076 11.1398 11.7761 11.5083 11.7761 11.9632C11.7761 12.4181 11.4076 12.7866 10.9527 12.7866ZM16.5105 12.7866H14.3285C13.8736 12.7866 13.5052 12.4181 13.5052 11.9632C13.5052 11.5083 13.8736 11.1398 14.3285 11.1398H16.5105C16.9654 11.1398 17.3339 11.5083 17.3339 11.9632C17.3339 12.4181 16.9654 12.7866 16.5105 12.7866ZM10.9527 16.0184H8.77071C8.31579 16.0184 7.94733 15.6499 7.94733 15.195C7.94733 14.7401 8.31579 14.3716 8.77071 14.3716H10.9527C11.4076 14.3716 11.7761 14.7401 11.7761 15.195C11.7761 15.6499 11.4076 16.0184 10.9527 16.0184ZM16.5105 16.0184H14.3285C13.8736 16.0184 13.5052 15.6499 13.5052 15.195C13.5052 14.7401 13.8736 14.3716 14.3285 14.3716H16.5105C16.9654 14.3716 17.3339 14.7401 17.3339 15.195C17.3339 15.6499 16.9654 16.0184 16.5105 16.0184Z" fill="white"/>
                    <path d="M20.7304 16.4301H19.9132C19.4582 16.4301 19.0898 16.0616 19.0898 15.6067C19.0898 15.1518 19.4582 14.7833 19.9132 14.7833H20.7304C21.1853 14.7833 21.5538 15.1518 21.5538 15.6067C21.5538 16.0616 21.1853 16.4301 20.7304 16.4301ZM20.7304 20.1147H19.8452C19.3903 20.1147 19.0219 19.7462 19.0219 19.2913C19.0219 18.8364 19.3903 18.4679 19.8452 18.4679H20.7304C21.1853 18.4679 21.5538 18.8364 21.5538 19.2913C21.5538 19.7462 21.1853 20.1147 20.7304 20.1147ZM20.7304 23.7993H19.9811C19.5262 23.7993 19.1577 23.4309 19.1577 22.9759C19.1577 22.521 19.5262 22.1526 19.9811 22.1526H20.7304C21.1853 22.1526 21.5538 22.521 21.5538 22.9759C21.5538 23.4309 21.1853 23.7993 20.7304 23.7993Z" fill="white"/>
                </svg>

            </a>
            <a class="@GetNavItemClass("/auth/registration/customer")" href="/auth/registration/customer">
                <svg class="nav__item--svg" alt="Login" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15" cy="9" r="4" fill="currentColor"/>
                    <path d="M23 20.5C23 22.9853 23 25 15 25C7 25 7 22.9853 7 20.5C7 18.0147 10.5817 16 15 16C19.4183 16 23 18.0147 23 20.5Z" fill="currentColor"/>
                </svg>
            </a>
            <a class="@GetNavItemClass("/auth/login")" href="/auth/login">
                <svg class="nav__item--svg" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M23.7553 6.22284L21.8027 4.27025C21.4764 3.94386 20.9472 3.94386 20.6208 4.27025C20.2944 4.59665 20.2944 5.12584 20.6208 5.45219L21.9824 6.81383L21.497 7.2993L20.9446 6.74693C20.6183 6.42054 20.089 6.42054 19.7627 6.74693C19.4363 7.07328 19.4363 7.60247 19.7627 7.92887L20.315 8.48124L19.8296 8.96672L18.4679 7.60509C18.1416 7.27873 17.6124 7.27873 17.286 7.60509C16.9596 7.93148 16.9596 8.46063 17.286 8.7871L18.6476 10.1487L14.5189 14.2774C12.4229 12.7509 9.46192 12.9321 7.57199 14.8221C5.4761 16.9179 5.47591 20.3101 7.57199 22.4063C9.66285 24.4972 13.0652 24.4973 15.1562 22.4063C17.0461 20.5163 17.2273 17.5553 15.7008 15.4594L23.7554 7.40482C24.0815 7.07866 24.0817 6.54915 23.7553 6.22284ZM13.9742 21.2242C12.535 22.6635 10.1931 22.6635 8.75389 21.2242C7.31125 19.7817 7.31113 17.4467 8.75389 16.004C10.1931 14.5647 12.535 14.5647 13.9741 16.004C15.4134 17.4432 15.4134 19.785 13.9742 21.2242Z" fill="white"/>
                </svg>

            </a>
        </nav>
    </NotAuthorized>
</AuthorizeView>


@code {
    private bool isNotificationBarOpen = false;
    private bool userHasRole = false;
    private DotNetObjectReference<NavMenu>? dotNetRef;
    private string GetNavItemClass(string href)
    {
        // Get the current URI
        var currentUri = NavigationManager.Uri;
        Console.WriteLine("Current URI: " + currentUri);
        // Check if the href matches the current URI path
        return currentUri.Contains(href, StringComparison.OrdinalIgnoreCase) ? "nav__item nav__item--active" : "nav__item";
    }


    // private bool collapseNavMenu = true;
    //
    // private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    //
    // private void ToggleNavMenu()
    // {
    //     collapseNavMenu = !collapseNavMenu;
    // }
    private bool hasNewNotifications = false; // Track new notifications

    private DotNetObjectReference<NavMenu>? DotNetRef;
    private IJSObjectReference? module;
    
    private async Task UpdateUserRoleAsync()
    {
        userHasRole = await AuthStateProvider.GetUserRoleAsync() == "BUSINESS" || await AuthStateProvider.GetUserRoleAsync() == "ADMIN";
        StateHasChanged();
    }

    // Simulate getting notifications status from a service or API
    protected override async Task OnInitializedAsync()
    {
        await UpdateUserRoleAsync();
        string storedValue = await JS.InvokeAsync<string>("localStorage.getItem", "hasNewNotifications");
        bool.TryParse(storedValue, out hasNewNotifications);
        NavigationManager.LocationChanged += HandleLocationChanged;
        StateHasChanged();
    }
    private async void HandleLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        // Trigger role re-evaluation on location change
        await UpdateUserRoleAsync();
        StateHasChanged();
    }
    
    

    [JSInvokable]
    public Task ReceiveNotification(string notification) // I'm not doing anything with it 
    {
        Console.WriteLine("I got a message: " +notification);
        hasNewNotifications = true;
        JS.InvokeVoidAsync("localStorage.setItem", "hasNewNotifications", "true");
        InvokeAsync(StateHasChanged);
        return Task.CompletedTask;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            DotNetRef = DotNetObjectReference.Create(this);
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/sse.js");
            string token = await AuthStateProvider.GetTokenAsync();

            await module.InvokeVoidAsync("connectSSE", "http://localhost:8082/notifications/stream", DotNetRef, token);
            //await JS.InvokeVoidAsync("connectSSE", "/notifications/stream", DotNetRef);
        }
    }

    public void Dispose()
    {
        DotNetRef?.Dispose();
        NavigationManager.LocationChanged -= HandleLocationChanged;
    }

    private void HandleButtonClick()
    {
        isNotificationBarOpen = !isNotificationBarOpen;
        hasNewNotifications = false;
        JS.InvokeVoidAsync("localStorage.setItem", "hasNewNotifications", "false");
        InvokeAsync(StateHasChanged);
    }

}